.source.python {
    .keyword.operator.logical.python {
        color: @pink_200;
    }
    .keyword.operator.arithmetic.python{
        color: @yellow_300;
        font-weight: lighter;
    }
    .keyword.other.python{
        color: @pink_200;
    }
    .variable.parameter {
        color: @hue-6;
    }
    .support.type.exception.python{
        color: @red_500;
    }
    .meta.function-call.arguments.python{
        color: @hue-1;
        font-weight: bold;
    }

}
