.source.python {
  color: rgba(200, 224, 224, 1);//@mono-2;
    .keyword.operator.logical.python {
        color: @pink_200;
    }
    .keyword.operator.arithmetic.python{
        color: @mono-1;
        font-weight: lighter;
    }
    .keyword.other.python{
        color: @pink_200;
    }
    .variable.parameter {
        color: @hue-6;
    }
    .support.type.exception.python{
        color: @red_500;
    }
    .meta.function-call.arguments.python{
        color: @hue-1;
        // font-weight: bold;
    }
    .meta.function-call.python{
      color: @yellow_200;
      font-weight: lighter;
    }
    .support.function.builtin.python{
      color: @brown_400;
      // font-weight: bold;
      font-size: 105%;
      font-style: italic;
    }

}
