.source.python {
  color: rgba(220, 220, 220, 1);//@mono-2;
    .keyword.operator.logical.python {
        color: @pink_200;
    }
    .keyword.operator.arithmetic.python{
        color: @mono-1;
        font-weight: lighter;
    }
    .keyword.other.python{
        color: @pink_200;
    }
    .variable.parameter {
        color: @hue-6;
    }
    .support.type.exception.python{
        color: @red_500;
    }
    .meta.function-call.arguments.python{
        color: lighten(@teal_500, 5%);
    }
    .meta.function-call.python{
      color: rgba(175, 200, 210, .95);
      font-style: italic;;
    }
    .support.function.builtin.python{
      color: darken(@cyan_700, 2%);
      font-style: italic;
    }
    .constant.numeric{
      .float.python{
        color: darken(desaturate(@hue-6-2, 15%), 3%);
      }
      .integer.python{
        color: darken(desaturate(@hue-6-2, 15%), 3%);
      }
    }
    .meta.structure.list.python {
      font-style: normal;
    }
}
