"*":
  Hydrogen:
    kernelspec: "{\"kernelspecs\":{\"julia-0.4\":{\"resource_dir\":\"/home/chad/.local/share/jupyter/kernels/julia-0.4\",\"spec\":{\"language\":\"julia\",\"display_name\":\"Julia 0.4.6-pre\",\"env\":{},\"argv\":[\"/opt/julia/usr/bin/julia\",\"-i\",\"-F\",\"/home/chad/.julia/v0.4/IJulia/src/kernel.jl\",\"{connection_file}\"]}},\"python3\":{\"spec\":{\"display_name\":\"Python 3\",\"language\":\"python\",\"argv\":[\"/opt/anaconda3/bin/python\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"],\"env\":{}},\"resource_dir\":\"/opt/anaconda3/lib/python3.5/site-packages/ipykernel/resources\"},\"python2\":{\"resource_dir\":\"/home/chad/.conda/envs/py2/lib/python2.7/site-packages/ipykernel/resources\",\"spec\":{\"language\":\"python\",\"display_name\":\"Python 2\",\"env\":{},\"argv\":[\"/home/chad/.conda/envs/py2/bin/python\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"]}}}}"
  "atom-html-preview":
    triggerOnSave: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    scopeBlacklist: [
      ".comment"
    ]
  "autocomplete-python": {}
  "autocomplete-snippets":
    disableForSelector: ".comment"
    selector: "*"
  "autohide-tree-view":
    maxWidth: 200
    minWidth: 15
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-preview"
      "minimap-autohide"
      "linter-python-pep8"
      "linter-flake8"
      "language-matlab-octave"
      "language-matlab-only"
      "linter-chktex"
      "linter-matlab"
      "linter-pep8"
      "linter"
      "latex-completions"
      "autohide-tree-view"
    ]
    ignoredNames: [
      ".g"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.gz"
    ]
    themes: [
      "seti-ui"
      "TC-gl-dark-syntax2"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 95
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
  "exception-reporting":
    userId: "58448a2b-38c2-955f-386f-c2cafe52e8d2"
  "file-types":
    m: "source.matlab"
  "git-plus": {}
  "julia-client":
    enableMenu: true
    enableToolBar: true
    juliaPath: "/opt/julia/julia"
    launchOnStartup: true
  latex:
    outputDirectory: "./PDF_Builds"
    texPath: "/usr/local/texlive/2015/bin/x86_64-linux/"
    viewerPath: "/usr/share/applications/Document\\ Viewer"
  "latex-completions": {}
  latexer: {}
  linter:
    errorPanelHeight: 72
  "linter-chktex":
    executablePath: "/usr/local/texlive/2015/bin/x86_64-linux/chktex"
    showId: true
  "linter-matlab":
    mlintDir: "/opt/MATLAB/R2015b/bin/glnxa64/"
  "linter-python-pep8":
    ignoreErrorCodes: "E501, W292"
    pep8DirToExecutable: "/usr/local/bin/"
  minimap:
    charWidth: 2
    interline: 1.5
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
    textOpacity: 0.4
  "minimap-codeglance":
    numberOfLines: 12
  "seti-icons": {}
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
    themeColor: "Steel"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style:
      defaultPanelHeight: "175px"
    toggles:
      autoClose: true
  "tool-bar":
    position: "Bottom"
    visible: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 95
    softWrap: true
    softWrapAtPreferredLineLength: true
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".bibtex.text":
  editor:
    preferredLineLength: 90
".c.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".console.python.text":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".cpp.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".diff.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".latex.log.text":
  editor:
    preferredLineLength: 90
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".latex.tex.text":
  editor:
    preferredLineLength: 95
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
".matlab.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".octave.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".python.regexp.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".python.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 95
    softWrapHangingIndent: 2
".python.text.traceback":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".shell-session.text":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".shell.source":
  editor:
    preferredLineLength: 95
    softWrapHangingIndent: 2
".tex.text":
  editor:
    preferredLineLength: 90
